<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:replace="common-alerts :: body"></div>
<div th:replace="common-loader :: body"></div>
<div>
    <div class="w3-cell-row">
        <div class="w3-cell">
            <h1 class="w3-xxlarge w3-text-blue"><b><span th:text="#{app.management.page.heading}"></span></b></h1>
        </div>
        <div class="w3-cell" align="right">
            <button onclick="loadForm('application/new?id=0');" th:text="#{app.management.button.new}" class="w3-btn w3-green w3-tiny"></button>
        </div>
    </div>

    <table id="appTable" class="display cell-border" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th th:text="#{app.management.table.heading.name}">Name</th>
            <th th:text="#{app.management.table.heading.description}">Description</th>
            <th th:text="#{app.management.table.heading.url}">Service URL</th>
            <th th:text="#{app.management.table.heading.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app: ${applications}">
            <td th:text="${app.applicationName}"></td>
            <td th:text="${app.applicationDescription}"></td>
            <td th:text="${app.serviceURL}"></td>
            <td>
                <a href="#" th:text="#{label.edit.link}"
                   th:onclick="'loadForm(\'application/new?id=' + ${app.id} + '\');'"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#appTable').DataTable({})
    });
</script>
</body>
</html>