<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="resultsList" class="results-block">
    <div id="resultBlock">
        <div th:replace="common-alerts :: body"></div>
        <div th:replace="common-loader :: body"></div>
        <div>
            <div class="w3-cell-row">
                <div class="w3-cell">
                    <h1 class="w3-xxlarge w3-text-teal"><b><span
                            th:text="#{buying.management.page.heading}"></span></b>
                    </h1>
                </div>
            </div>


            <div class="form-group">
                <label th:for="selectSeller">Seller</label>
                <select style="margin-bottom: 10px" class="form-control w3-select" name="serller" id="seller">
                    <option disabled selected value>- - SELECT SELLER - -</option>
                    <option th:each="seller : ${sellers}"
                            th:value="${seller.getId()}"
                            th:text="${seller.getName()}">
                    </option>
                </select>
                <label th:for="selectItem">Item</label>
                <select class="w3-select" name="item" id="item" onchange="getUnitPrice()">
                    <option disabled selected value>- - SELECT ITEM - -</option>
                    <option th:each="item : ${items}"
                            th:value="${item.getUnitPrice()}"
                            th:text="${item.getName()}">
                    </option>
                </select>

                <div>
                    <div style="float: left;">
                        <label th:for="unitPrice">Unit Price - 1 KG</label>
                        <input class="w3-input w3-border" name="unitPrice" id="unitPrice" type="number" step="0.01">
                    </div>
                    <div style="float: left; padding-left: 130px">
                        <label th:for="quantity">Quantity - KG </label>
                        <input class="w3-input w3-border" name="quantity" id="quantity" type="number" step="0.001">
                    </div>
                    <div style="float: left; padding-left: 130px; padding-top: 18px; padding-bottom: 20px">
                        <input type="submit" value="SAVE" onclick="addItem()" class="w3-button w3-teal"/>
                    </div>
                </div>

            </div>

            <table style="padding-top: 10px" id="sellerItemTable" class="display cell-border" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{seller.item.management.table.heading.seller}">Seller</th>
                    <th th:text="#{seller.item.management.table.heading.item}">Item</th>
                    <th th:text="#{seller.item.management.table.heading.quantity}">Quantity</th>
                    <th th:text="#{seller.item.management.table.heading.unit.price}">Unit Price</th>
                    <th th:text="#{seller.item.management.table.heading.date}">Date</th>
                    <th th:text="#{seller.item.management.table.heading.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sellerItem: ${sellerItems}">
                    <td th:text="${sellerItem.seller.name}"></td>
                    <td th:text="${sellerItem.item.name}"></td>
                    <td th:text="${sellerItem.quantity}"></td>
                    <td th:text="${sellerItem.sellerUnitPrice}"></td>
                    <td th:text="${sellerItem.date}"></td>
                    <td>
                        <a href="#" th:text="#{label.remove.link}"
                           th:onclick="'removeItem(\'' + ${sellerItem.id} + '\');'"></a>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#sellerItemTable').DataTable({})
    });

    function getUnitPrice() {
        var selectBox = document.getElementById("item");
        var unitPrice = selectBox.options[selectBox.selectedIndex].value;
        document.getElementById("unitPrice").value = unitPrice;
    }

    function addItem() {
        var seller = document.getElementById("seller").value;
        var selectBox = document.getElementById("item");
        var item = selectBox.options[selectBox.selectedIndex].text;
        var unitPrice = document.getElementById("unitPrice").value;
        var quantity = document.getElementById("quantity").value;
        var url = "buying/add?seller=" + seller + "&item=" + item + "&unitPrice=" + unitPrice + "&quantity=" + quantity;
        $("#resultBlock").load(url);
    }

    function removeItem(itemId) {
        if (confirm("Are you sure you need to remove this entry ?") == true) {
            var url = "buying/remove?item=" + itemId;
            $("#resultBlock").load(url);
        } else {
        }
    }

</script>
</html>