<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{web.app.title}"></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/gate-favicon.ico" th:href="@{/images/gate-favicon.ico}">
    <link rel="stylesheet" type="text/css" href="css/w3.css" th:href="@{/css/w3.css}"/>
    <link rel="stylesheet" type="text/css" href="css/login.css" th:href="@{/css/login.css}"/>
    <script type="text/javascript" th:href="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:href="@{/js/jquery-ui.min.js}" src="js/jquery-ui.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="images/hms-favicon.png"/>
</head>
<body>

<div class="w3-container">
    <div class="w3-display-right form-login">
        <div>
            <div align="center">
                <h1 class="w3-large w3-text-blue"><b><span th:text="#{login.title}"></span></b></h1>
            </div>
            <p th:if="${loginError}" class="error"> &nbsp; Incorrect Username or Password</p>
            <form th:action="@{/login}" method="post">
                <input type="text" th:name="username" id="username"
                       th:placeholder="#{login.username}" required autofocus class="w3-input"/>
                <br>
                <input type="password" th:name="password" id="password" th:placeholder="#{login.password}" required
                       class="w3-input"/>
                <br>
                <div align="right">
                    <input type="submit" th:value="#{login.submit}" class="w3-button w3-blue w3-small w3-block"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>