<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:replace="common-alerts :: body"></div>
<div th:replace="common-loader :: body"></div>
<div th:fragment="resultsList" class="results-block">
    <div id="resultBlock">
        <div class="w3-cell-row" th:if="${showTitle}">
            <div class="w3-cell">
                <h1 class="w3-xxlarge w3-text-teal"><b><span th:text="#{report.page.heading}"></span></b></h1>
            </div>
        </div>


        <div th:if="${showReports}">
            <div class="w3-container report-container">
                <div style="float: left">
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker1" type="date"
                           name="incomeReportDate">
                </div>
                <div style="float: left; margin-left: 10%">
                    <button onclick="viewDailyPayment()" th:text="#{Daily Payments Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left">
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker13" type="date">
                </div>
                <div style="float: left; margin-left: 10%">
                    <button onclick="viewDailyCash()" th:text="#{Daily Cash Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left">
                    From
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker2" type="date">
                </div>
                <div style="float: left; margin-left: 10%">
                    To
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker9" type="date">
                </div>
                <div style="float: left; margin-left: 10%; margin-top: 18px">
                    <button onclick="viewSalesReport()" th:text="#{Sales Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left">
                    From
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker3" type="date">
                </div>
                <div style="float: left; margin-left: 2%">
                    To
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker10" type="date">
                </div>
                <div style="float: left; margin-left: 2%; margin-top: 18px">
                    <select class="form-control w3-select" id="buyer">
                        <option disabled selected value>- - විකුණුම්කරු තෝරන්න - -</option>
                        <option th:each="buyer : ${buyers}"
                                th:value="${buyer.getId()}"
                                th:text="${buyer.getName()}">
                        </option>
                    </select>
                </div>
                <div style="float: left; margin-left: 2%; margin-top: 18px">
                    <button onclick="viewBuyerReport()" th:text="#{Daily Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left">
                    From
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker14" type="date">
                </div>
                <div style="float: left; margin-left: 2%">
                    To
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker15" type="date">
                </div>
                <div style="float: left; margin-left: 2%; margin-top: 18px">
                    <select class="form-control w3-select" id="seller2">
                        <option disabled selected value>- - ගැණුම්කරු තෝරන්න - -</option>
                        <option th:each="seller : ${sellers}"
                                th:value="${seller.getId()}"
                                th:text="${seller.getName()}">
                        </option>
                    </select>
                </div>
                <div style="float: left; margin-left: 2%; margin-top: 18px">
                    <button onclick="viewSellerReportSummary()" th:text="#{Daily Report Summary}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left">
                    From
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker4" type="date">
                </div>
                <div style="float: left; margin-left: 2%">
                    To
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker11" type="date">
                </div>
                <div style="float: left; margin-left: 2%; margin-top: 18px">
                    <select class="form-control w3-select" id="seller">
                        <option disabled selected value>- - ගැණුම්කරු තෝරන්න - -</option>
                        <option th:each="seller : ${sellers}"
                                th:value="${seller.getId()}"
                                th:text="${seller.getName()}">
                        </option>
                    </select>
                </div>
                <div style="float: left; margin-left: 2%; margin-top: 18px">
                    <button onclick="viewSellerReport()" th:text="#{Daily Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left;">
                    <button onclick="viewDebtsAndCreditsReport()" th:text="#{Debts & Credits Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left;">
                    <button onclick="viewChequePaymentsReport()" th:text="#{Cheque Payments Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left">
                    From
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker5" type="date">
                </div>
                <div style="float: left; margin-left: 10%">
                    To
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker6" type="date">
                </div>
                <div style="float: left; margin-left: 2%; margin-top: 18px">
                    <select class="form-control w3-select" id="expenseType">
                        <option disabled selected value>- - SELECT EXPENSE TYPE - -</option>
                        <option th:each="expenseType : ${expenseTypes}"
                                th:value="${expenseType.getId()}"
                                th:text="${expenseType.getName()}">
                        </option>
                    </select>
                </div>
                <div style="float: left; margin-left: 10%; margin-top: 18px">
                    <button onclick="viewExpenseReport()" th:text="#{Expense Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>
            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left">
                    From
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker7" type="date">
                </div>
                <div style="float: left; margin-left: 10%">
                    To
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker8" type="date">
                </div>
                <div style="float: left; margin-left: 10%; margin-top: 18px">
                    <button onclick="viewProfitReport()" th:text="#{Profit Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>

            <div style="clear:left; margin-bottom:2%"></div>
            <div class="w3-container report-container">
                <div style="float: left">
                    <input style="border: 1px solid silver;" class="w3-input" id="datePicker12" type="date">
                </div>
                <div style="float: left; margin-left: 10%">
                    <select class="form-control w3-select" id="item">
                        <option disabled selected value>- - SELECT ITEM - -</option>
                        <option th:each="item : ${items}"
                                th:value="${item.getId()}"
                                th:text="${item.getName()}">
                        </option>
                    </select>
                </div>
                <div style="float: left; margin-left: 10%;">
                    <button onclick="viewItemReport()" th:text="#{Item Report}"
                            class="w3-btn w3-cyan w3-medium"></button>
                </div>
            </div>
            <!------------------------------------------------------------------------------------>

        </div>

        <div th:if="${showDailyIncome}">
            <h5>Payments Report</h5>
            <h6 th:text="${reportDate}"></h6>
            <h6>Payment From</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{Code}">Code</th>
                    <th th:text="#{Name}">Name</th>
                    <th th:text="#{Phone}">Phone</th>
                    <th th:text="#{Payment}">Payment</th>
                    <th th:text="#{Type}">Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment: ${buyerPayments}">
                    <td th:text="${payment.buyer.code}"></td>
                    <td th:text="${payment.buyer.name}"></td>
                    <td th:text="${payment.buyer.phone}"></td>
                    <td th:text="${payment.amount}"></td>
                    <td th:text="${payment.paymentType}"></td>
                </tr>
                </tbody>
            </table>

            <h6>Payment To</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{Code}">Code</th>
                    <th th:text="#{Name}">Name</th>
                    <th th:text="#{Phone}">Phone</th>
                    <th th:text="#{Payment}">Payment</th>
                    <th th:text="#{Type}">Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment: ${sellerPayments}">
                    <td th:text="${payment.seller.code}"></td>
                    <td th:text="${payment.seller.name}"></td>
                    <td th:text="${payment.seller.phone}"></td>
                    <td th:text="${payment.amount}"></td>
                    <td th:text="${payment.paymentType}"></td>
                </tr>
                </tbody>
            </table>
        </div>


        <div th:if="${showDailyWallet}">
            <h5>Daily Cash Report</h5>
            <h6 th:text="${reportDate}"></h6>
            <h6>Payment From</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{Code}">Code</th>
                    <th th:text="#{Name}">Name</th>
                    <th th:text="#{Phone}">Phone</th>
                    <th th:text="#{Payment}">Payment</th>
                    <th th:text="#{Type}">Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment: ${reportDetails.buyerPayments}">
                    <td th:text="${payment.buyer.code}"></td>
                    <td th:text="${payment.buyer.name}"></td>
                    <td th:text="${payment.buyer.phone}"></td>
                    <td th:text="${payment.amount}"></td>
                    <td th:text="${payment.paymentType}"></td>
                </tr>
                </tbody>
            </table>

            <h6>Payment To</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{Code}">Code</th>
                    <th th:text="#{Name}">Name</th>
                    <th th:text="#{Phone}">Phone</th>
                    <th th:text="#{Payment}">Payment</th>
                    <th th:text="#{Type}">Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment: ${reportDetails.sellerPayments}">
                    <td th:text="${payment.seller.code}"></td>
                    <td th:text="${payment.seller.name}"></td>
                    <td th:text="${payment.seller.phone}"></td>
                    <td th:text="${payment.amount}"></td>
                    <td th:text="${payment.paymentType}"></td>
                </tr>
                </tbody>
            </table>

            <h6>Expenses</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{expense.management.table.heading.expense}">Expense</th>
                    <th th:text="#{expense.management.table.heading.date}">Expense</th>
                    <th th:text="#{expense.management.table.heading.amount}">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="expense: ${reportDetails.expenses}">
                    <td th:text="${expense.expenseType.name}"></td>
                    <td th:text="${expense.date}"></td>
                    <td th:text="${expense.amount}"></td>
                </tr>
                </tbody>
            </table>

            <h6>Atha Mita</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{buyer.item.management.table.heading.item}">Item</th>
                    <th th:text="#{buyer.item.management.table.heading.quantity}">Quantity</th>
                    <th th:text="#{buyer.item.management.table.heading.unit.price}">Unit Price</th>
                    <th th:text="#{buyer.item.management.table.heading.amount}">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="buyerItem: ${reportDetails.athaMitaList}">
                    <td class="normalItem" th:if="${buyerItem.item.type.toString() == 'NORMAL'}"
                        th:text="${buyerItem.item.name+' - NORMAL'}"></td>
                    <td class="freezerItem" th:if="${buyerItem.item.type.toString() == 'FREEZER'}"
                        th:text="${buyerItem.item.name+' - FREEZER'}"></td>
                    <td th:text="${buyerItem.quantity}"></td>
                    <td th:text="${buyerItem.buyerUnitPrice}"></td>
                    <td th:text="${buyerItem.amount}"></td>

                </tr>
                </tbody>
            </table>

            <div style="float: left">
                <h5>Total Payments Received - </h5>
            </div>
            <div style="float: left; margin-left: 10px">
                <h5 th:text="${reportDetails.totalBuyerPayments}"></h5>
            </div>
            <div style="clear: both"></div>

            <div style="float: left">
                <h5>Total Payments Sent - </h5>
            </div>
            <div style="float: left; margin-left: 10px">
                <h5 th:text="${reportDetails.totalSellerPayments}"></h5>
            </div>
            <div style="clear: both"></div>

            <div style="float: left">
                <h5>Total Expenses - </h5>
            </div>
            <div style="float: left; margin-left: 10px">
                <h5 th:text="${reportDetails.totalExpenses}"></h5>
            </div>
            <div style="clear: both"></div>

            <div style="float: left">
                <h5>Total Atha Mita - </h5>
            </div>
            <div style="float: left; margin-left: 10px">
                <h5 th:text="${reportDetails.totalAthaMita}"></h5>
            </div>
            <div style="clear: both"></div>

            <div style="float: left">
                <h5>Total In Wallet - </h5>
            </div>
            <div style="float: left; margin-left: 10px">
                <h5 th:text="${reportDetails.totalInWallet}"></h5>
            </div>


        </div>


        <div th:if="${showDailySales}">
            <h5>Sales Report</h5>
            <hr/>
            From
            <h6 th:text="${from}"></h6>
            To
            <h6 th:text="${to}"></h6>
            <hr/>
            <h6>Buyings</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{seller.item.management.table.heading.seller}">Seller</th>
                    <th th:text="#{seller.item.management.table.heading.item}">Item</th>
                    <th th:text="#{seller.item.management.table.heading.quantity}">Quantity</th>
                    <th th:text="#{seller.item.management.table.heading.unit.price}">Unit Price</th>
                    <th th:text="#{seller.item.management.table.heading.date}">Date</th>
                    <th th:text="#{seller.item.management.table.heading.amount}">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sellerItem: ${dto.sellerItems}">
                    <td th:text="${sellerItem.seller.name}"></td>
                    <td class="normalItem" th:if="${sellerItem.item.type.toString() == 'NORMAL'}"
                        th:text="${sellerItem.item.name+' - NORMAL'}"></td>
                    <td class="freezerItem" th:if="${sellerItem.item.type.toString() == 'FREEZER'}"
                        th:text="${sellerItem.item.name+' - FREEZER'}"></td>
                    <td th:text="${sellerItem.quantity}"></td>
                    <td th:text="${sellerItem.sellerUnitPrice}"></td>
                    <td th:text="${sellerItem.date}"></td>
                    <td th:text="${sellerItem.amount}"></td>
                </tr>
                </tbody>
            </table>

            <h6>Sellings</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{buyer.item.management.table.heading.buyer}">Buyer</th>
                    <th th:text="#{buyer.item.management.table.heading.item}">Item</th>
                    <th th:text="#{buyer.item.management.table.heading.quantity}">Quantity</th>
                    <th th:text="#{buyer.item.management.table.heading.unit.price}">Unit Price</th>
                    <th th:text="#{buyer.item.management.table.heading.date}">Date</th>
                    <th th:text="#{buyer.item.management.table.heading.amount}">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="buyerItem: ${dto.buyerItems}">
                    <td th:text="${buyerItem.buyer.name}"></td>
                    <td class="normalItem" th:if="${buyerItem.item.type.toString() == 'NORMAL'}"
                        th:text="${buyerItem.item.name+' - NORMAL'}"></td>
                    <td class="freezerItem" th:if="${buyerItem.item.type.toString() == 'FREEZER'}"
                        th:text="${buyerItem.item.name+' - FREEZER'}"></td>
                    <td th:text="${buyerItem.quantity}"></td>
                    <td th:text="${buyerItem.buyerUnitPrice}"></td>
                    <td th:text="${buyerItem.date}"></td>
                    <td th:text="${buyerItem.amount}"></td>

                </tr>
                </tbody>
            </table>

            <h6>CR</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{cr.management.table.heading.item}">Item</th>
                    <th th:text="#{cr.management.table.heading.quantity}">Quantity</th>
                    <th th:text="#{cr.management.table.heading.unit.price}">Unit Price</th>
                    <th th:text="#{cr.management.table.heading.date}">Date</th>
                    <th th:text="#{cr.management.table.heading.amount}">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cr: ${dto.crList}">
                    <td th:text="${cr.item.name}"></td>
                    <td th:text="${cr.quantity}"></td>
                    <td th:text="${cr.unitPrice}"></td>
                    <td th:text="${cr.date}"></td>
                    <td th:text="${cr.amount}"></td>
                </tr>
                </tbody>
            </table>

            <h6>Expenses</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{expense.management.table.heading.expense}">Expense</th>
                    <th th:text="#{expense.management.table.heading.date}">Expense</th>
                    <th th:text="#{expense.management.table.heading.amount}">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="expense: ${dto.expenseList}">
                    <td th:text="${expense.expenseType.name}"></td>
                    <td th:text="${expense.date}"></td>
                    <td th:text="${expense.amount}"></td>
                </tr>
                </tbody>
            </table>

            <h6>Freezer</h6>
            <table style="padding-top: 10px" class="reportTable" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th th:text="#{item.management.table.heading.name}">Name</th>
                    <th th:text="#{item.management.table.heading.price}">Unit Price</th>
                    <th th:text="#{item.management.table.heading.quantity}">Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item: ${dto.freezerItems}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.unitPrice}"></td>
                    <td th:text="${item.quantity}"></td>
                </tr>
                </tbody>
            </table>


            <div style="float: right; margin-left: 10px">
                <h5 th:text="${dto.totalAmountSeller}"></h5>
            </div>
            <div style="float: right">
                <h5>Total Buyings = </h5>
            </div>

            <div style="clear: both"></div>
            <div style="float: right; margin-left: 10px">
                <h5 th:text="${dto.totalAmountBuyer}"></h5>
            </div>
            <div style="float: right">
                <h5>Total Sellings = </h5>
            </div>

            <div style="clear: both"></div>
            <div style="float: right; margin-left: 10px">
                <h5 th:text="${dto.totalAmountExpense}"></h5>
            </div>
            <div style="float: right">
                <h5>Total Expenses = </h5>
            </div>

            <div style="clear: both"></div>
            <div style="float: right; margin-left: 10px">
                <h5 th:text="${dto.profitWithCr}"></h5>
            </div>
            <div style="float: right">
                <h5>Profit With CR = </h5>
            </div>

            <div style="clear: both"></div>
            <div style="float: left">
                <h5>Total CR = </h5>
            </div>
            <div style="float: left; margin-left: 10px">
                <h5 th:text="${dto.totalAmountCr}"></h5>
            </div>

            <div style="clear: both"></div>
            <div style="float: left">
                <h5>Total Freezer = </h5>
            </div>
            <div style="float: left; margin-left: 10px">
                <h5 th:text="${dto.totalAmountFreezer}"></h5>
            </div>

            <div style="clear: both"></div>
            <div style="float: left">
                <h5>Profit With CR And Freezer = </h5>
            </div>
            <div style="float: left; margin-left: 10px;">
                <h5 th:text="${dto.profitWithCrAndFreezer}"></h5>
            </div>

            <div style="clear: both"></div>
            <div style="float: left">
                <h5>Profit Without CR = </h5>
            </div>
            <div style="float: left; margin-left: 10px; margin-bottom: 50px">
                <h5 th:text="${dto.profitWithoutCr}"></h5>
            </div>
        </div>
    </div>


    <div th:if="${showDailyBuyer}">
        <h5>Daily Report for</h5>
        <h6 th:text="${buyer}"></h6>
        <hr/>
        From
        <h6 th:text="${from}"></h6>
        To
        <h6 th:text="${to}"></h6>

        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{buyer.item.management.table.heading.item}">Item</th>
                <th th:text="#{buyer.item.management.table.heading.quantity}">Quantity</th>
                <th th:text="#{buyer.item.management.table.heading.unit.price}">Unit Price</th>
                <th th:text="#{buyer.item.management.table.heading.date}">Date</th>
                <th th:text="#{buyer.item.management.table.heading.amount}">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="buyerItem: ${dailyBuyerDto.itemList}">
                <td class="normalItem" th:if="${buyerItem.item.type.toString() == 'NORMAL'}"
                    th:text="${buyerItem.item.name+' - NORMAL'}"></td>
                <td class="freezerItem" th:if="${buyerItem.item.type.toString() == 'FREEZER'}"
                    th:text="${buyerItem.item.name+' - FREEZER'}"></td>
                <td th:text="${buyerItem.quantity}"></td>
                <td th:text="${buyerItem.buyerUnitPrice}"></td>
                <td th:text="${buyerItem.date}"></td>
                <td th:text="${buyerItem.amount}"></td>
            </tr>
            </tbody>
        </table>

        <div style="float: left">
            <h5>Total Amount - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${dailyBuyerDto.totalAmount}"></h5>
        </div>
        <div style="clear: both"></div>

        <div style="float: left">
            <h5>Total Credits - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${dailyBuyerDto.creditAmount}"></h5>
        </div>

        <div style="clear: both"></div>
        <h6>Payment From</h6>
        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{Code}">Code</th>
                <th th:text="#{Date}">Date</th>
                <th th:text="#{Phone}">Phone</th>
                <th th:text="#{Payment}">Payment</th>
                <th th:text="#{Type}">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment: ${dailyBuyerDto.buyerPayments}">
                <td th:text="${payment.buyer.code}"></td>
                <td th:text="${payment.date}"></td>
                <td th:text="${payment.buyer.phone}"></td>
                <td th:text="${payment.amount}"></td>
                <td th:text="${payment.paymentType}"></td>
            </tr>
            </tbody>
        </table>

        <div style="float: left">
            <h5>Total Payments - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${dailyBuyerDto.totalPayments}"></h5>
        </div>

    </div>


    <div th:if="${showDailySeller}">
        <h5>Daily Report for</h5>
        <h6 th:text="${seller}"></h6>
        <hr/>
        From
        <h6 th:text="${from}"></h6>
        To
        <h6 th:text="${to}"></h6>

        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{seller.item.management.table.heading.item}">Item</th>
                <th th:text="#{seller.item.management.table.heading.quantity}">Quantity</th>
                <th th:text="#{seller.item.management.table.heading.unit.price}">Unit Price</th>
                <th th:text="#{seller.item.management.table.heading.date}">Unit Price</th>
                <th th:text="#{seller.item.management.table.heading.amount}">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sellerItem: ${dailySellerDto.itemList}">
                <td class="normalItem" th:if="${sellerItem.item.type.toString() == 'NORMAL'}"
                    th:text="${sellerItem.item.name+' - NORMAL'}"></td>
                <td class="freezerItem" th:if="${sellerItem.item.type.toString() == 'FREEZER'}"
                    th:text="${sellerItem.item.name+' - FREEZER'}"></td>
                <td th:text="${sellerItem.quantity}"></td>
                <td th:text="${sellerItem.sellerUnitPrice}"></td>
                <td th:text="${sellerItem.date}"></td>
                <td th:text="${sellerItem.amount}"></td>
            </tr>
            </tbody>
        </table>

        <h5> Expenses </h5>

        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{expense.management.table.heading.seller}">Seller</th>
                <th th:text="#{expense.management.table.heading.amount}">Amount</th>
                <th th:text="#{expense.management.table.heading.date}">Date</th>
                <th th:text="#{expense.management.table.heading.note}">Note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense: ${dailySellerDto.sellerExpenses}">
                <td th:text="${expense.getSeller().getName()}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.date}"></td>
                <td th:text="${expense.note}"></td>
            </tr>
            </tbody>
        </table>

        <div style="float: left">
            <h5>Total Amount - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${dailySellerDto.totalAmount}"></h5>
        </div>
        <div style="clear: both"></div>

        <div style="float: left">
            <h5>Total Expenses - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${dailySellerDto.totalExpenses}"></h5>
        </div>
        <div style="clear: both"></div>


        <div style="float: left">
            <h5>Balance - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${dailySellerDto.balance}"></h5>
        </div>
        <div style="clear: both"></div>

        <div style="float: left">
            <h5>Total Debts - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${dailySellerDto.creditAmount}"></h5>
        </div>

    </div>





    <div th:if="${showDailySellerSummary}">
        <h5>Summary Report for</h5>
        <h6 th:text="${seller}"></h6>
        <hr/>
        From
        <h6 th:text="${from}"></h6>
        To
        <h6 th:text="${to}"></h6>



        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{expense.management.table.heading.date}">Date</th>
                <th th:text="#{expense.management.table.heading.amount}">Amount</th>
                <th th:text="#{expense.management.table.heading.expenses}">Expenses</th>
                <th th:text="#{expense.management.table.heading.total}">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="summary: ${dailySellerSummaryDto.summaryList}">
                <td th:text="${summary.date}"></td>
                <td th:text="${summary.amount}"></td>
                <td th:text="${summary.expenses}"></td>
                <td th:text="${summary.total}"></td>
            </tr>
            </tbody>
        </table>

        <div style="float: left">
            <h5>Grand Total - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${dailySellerSummaryDto.total}"></h5>
        </div>





    </div>



    <div th:if="${showDebtsAndCredits}">
        <h5>Debts And Credits Report</h5>
        <hr/>
        <h6>Credits</h6>
        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{Code}">Code</th>
                <th th:text="#{Name}">Name</th>
                <th th:text="#{Phone}">Phone</th>
                <th th:text="#{Credit}">Credit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment: ${reportDetails.buyerPayments}">
                <td th:text="${payment.buyer.code}"></td>
                <td th:text="${payment.buyer.name}"></td>
                <td th:text="${payment.buyer.phone}"></td>
                <td th:text="${payment.amount}"></td>
            </tr>
            </tbody>
        </table>
        <div style="float: left">
            <h5>Total Credits - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${reportDetails.totalBuyerPayments}"></h5>
        </div>
        <div style="clear: both"></div>

        <h6>Debts</h6>
        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{Code}">Code</th>
                <th th:text="#{Name}">Name</th>
                <th th:text="#{Phone}">Phone</th>
                <th th:text="#{Credit}">Credit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment: ${reportDetails.sellerPayments}">
                <td th:text="${payment.seller.code}"></td>
                <td th:text="${payment.seller.name}"></td>
                <td th:text="${payment.seller.phone}"></td>
                <td th:text="${payment.amount}"></td>
            </tr>
            </tbody>
        </table>
        <div style="float: left">
            <h5>Total Debts - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${reportDetails.totalSellerPayments}"></h5>
        </div>

    </div>


    <div th:if="${showChequePaymentsReport}">
        <h5>Cheque Payments Report</h5>
        <hr/>
        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{Code}">Code</th>
                <th th:text="#{Name}">Name</th>
                <th th:text="#{Date}">Date</th>
                <th th:text="#{Amount}">Credit</th>
                <th th:text="#{Cheque Date}">Cheque Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment: ${chequePayments}">
                <td th:text="${payment.buyer.code}"></td>
                <td th:text="${payment.buyer.name}"></td>
                <td th:text="${payment.date}"></td>
                <td th:text="${payment.amount}"></td>
                <td th:text="${payment.chequeDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div th:if="${showDailyItem}">
        <h5>Daily Item Report</h5>
        <h6 th:text="${item}"></h6>
        <h6 th:text="${date}"></h6>
        <hr/>
        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{buyer.item.management.table.heading.buyer}">Buyer</th>
                <th th:text="#{buyer.item.management.table.heading.item}">Item</th>
                <th th:text="#{buyer.item.management.table.heading.quantity}">Quantity</th>
                <th th:text="#{buyer.item.management.table.heading.unit.price}">Unit Price</th>
                <th th:text="#{buyer.item.management.table.heading.amount}">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="buyerItem: ${buyerItems}">
                <td th:text="${buyerItem.buyer.name}"></td>
                <td class="normalItem" th:if="${buyerItem.item.type.toString() == 'NORMAL'}"
                    th:text="${buyerItem.item.name+' - NORMAL'}"></td>
                <td class="freezerItem" th:if="${buyerItem.item.type.toString() == 'FREEZER'}"
                    th:text="${buyerItem.item.name+' - FREEZER'}"></td>
                <td th:text="${buyerItem.quantity}"></td>
                <td th:text="${buyerItem.buyerUnitPrice}"></td>
                <td th:text="${buyerItem.amount}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div th:if="${showExpenseReport}">
        <h5>Expenses Report</h5>
        <hr/>
        From
        <h6 th:text="${dateFrom}"></h6>
        To
        <h6 th:text="${dateTo}"></h6>
        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{expense.management.table.heading.expense}">Expense</th>
                <th th:text="#{expense.management.table.heading.amount}">Amount</th>
                <th th:text="#{expense.management.table.heading.date}">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense: ${expensesDto.expenseList}">
                <td th:text="${expense.expenseType.name}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.date}"></td>
            </tr>
            </tbody>
        </table>
        <div style="float: left">
            <h5>Total Expenses - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${expensesDto.totalAmount}"></h5>
        </div>
    </div>


    <div th:if="${showProfitReport}">
        <h5>Profit Report</h5>
        <hr/>
        From
        <h6 th:text="${dateFrom}"></h6>
        To
        <h6 th:text="${dateTo}"></h6>
        <table style="padding-top: 10px" class="reportTable" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th th:text="#{Date}">Expense</th>
                <!--<th th:text="#{Profit With CR}">CR</th>-->
                <th th:text="#{Profit}">WOCR</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="profit: ${profitDetails.profitList}">
                <td th:text="${profit.date}"></td>
                <!--<td th:text="${profit.profitWithCr}"></td>-->
                <td th:text="${profit.profitWithoutCr}"></td>
            </tr>
            </tbody>
        </table>
        <div style="float: left">
            <h5>Total Profit with CR - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${profitDetails.totalProfitWithCr}"></h5>
        </div>
        <div style="clear: both"></div>
        <div style="float: left">
            <h5>Total Profit without CR - </h5>
        </div>
        <div style="float: left; margin-left: 10px">
            <h5 th:text="${profitDetails.totalProfitWithoutCr}"></h5>
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        document.getElementById('datePicker1').valueAsDate = new Date();
        document.getElementById('datePicker2').valueAsDate = new Date();
        document.getElementById('datePicker9').valueAsDate = new Date();
        document.getElementById('datePicker3').valueAsDate = new Date();
        document.getElementById('datePicker4').valueAsDate = new Date();
        document.getElementById('datePicker5').valueAsDate = new Date();
        document.getElementById('datePicker6').valueAsDate = new Date();
        document.getElementById('datePicker7').valueAsDate = new Date();
        document.getElementById('datePicker8').valueAsDate = new Date();
        document.getElementById('datePicker10').valueAsDate = new Date();
        document.getElementById('datePicker11').valueAsDate = new Date();
        document.getElementById('datePicker12').valueAsDate = new Date();
        document.getElementById('datePicker13').valueAsDate = new Date();
        document.getElementById('datePicker14').valueAsDate = new Date();
        document.getElementById('datePicker15').valueAsDate = new Date();
    });

    function viewDailyPayment() {
        var selectedDate = document.getElementById('datePicker1').value;
        var url = "report/buyerIncome?date=" + selectedDate;
        $("#resultBlock").load(url);
    }

    function viewDailyCash() {
        var selectedDate = document.getElementById('datePicker13').value;
        var url = "report/dailyWallet?date=" + selectedDate;
        $("#resultBlock").load(url);
    }

    function viewSalesReport() {
        var fromDate = document.getElementById('datePicker2').value;
        var toDate = document.getElementById('datePicker9').value;
        var url = "report/salesReport?from=" + fromDate + "&to=" + toDate;
        $("#resultBlock").load(url);
    }

    function viewBuyerReport() {
        var fromDate = document.getElementById('datePicker3').value;
        var toDate = document.getElementById('datePicker10').value;
        var buyer = document.getElementById("buyer").value;
        var url = "report/buyerReport?from=" + fromDate + "&to=" + toDate + "&buyer=" + buyer;
        $("#resultBlock").load(url);
    }

    function viewSellerReport() {
        var fromDate = document.getElementById('datePicker4').value;
        var toDate = document.getElementById('datePicker11').value;
        var seller = document.getElementById("seller").value;
        var url = "report/sellerReport?from=" + fromDate + "&to=" + toDate + "&seller=" + seller;
        $("#resultBlock").load(url);
    }

    function viewSellerReportSummary() {
        var fromDate = document.getElementById('datePicker14').value;
        var toDate = document.getElementById('datePicker15').value;
        var seller = document.getElementById("seller2").value;
        var url = "report/sellerReportSummary?from=" + fromDate + "&to=" + toDate + "&seller=" + seller;
        $("#resultBlock").load(url);
    }

    function viewItemReport() {
        var date = document.getElementById('datePicker12').value;
        var item = document.getElementById("item").value;
        var url = "report/itemReport?date=" + date + "&item=" + item;
        $("#resultBlock").load(url);
    }

    function viewDebtsAndCreditsReport() {
        var url = "report/debtsAndCreditsReport";
        $("#resultBlock").load(url);
    }

    function viewChequePaymentsReport() {
        var url = "report/chequePaymentsReport";
        $("#resultBlock").load(url);
    }

    function viewExpenseReport() {
        var dateFrom = document.getElementById('datePicker5').value;
        var dateTo = document.getElementById('datePicker6').value;
        var expenseType = document.getElementById('expenseType').value;
        var url = "report/expenseReport?dateFrom=" + dateFrom + "&dateTo=" + dateTo + "&expenseType=" + expenseType;
        $("#resultBlock").load(url);
    }

    function viewProfitReport() {
        var dateFrom = document.getElementById('datePicker7').value;
        var dateTo = document.getElementById('datePicker8').value;
        var url = "report/profitReport?dateFrom=" + dateFrom + "&dateTo=" + dateTo;
        $("#resultBlock").load(url);
    }
</script>
</body>
</html>