<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="resultsList" class="results-block">
    <div id="resultBlock">
        <div th:replace="common-alerts :: body"></div>
        <div th:replace="common-loader :: body"></div>
        <div>
            <div class="w3-cell-row">
                <div class="w3-cell">
                    <h1 class="w3-xxlarge w3-text-blue"><b><span th:text="#{subs.management.page.heading}"></span></b>
                    </h1>
                </div>
            </div>

            <h3>Search Subscriber</h3>
            <input type="text" name="search" id="search" th:value="${search}" class="w3-input w3-border"/>
            <script type="text/javascript">
                var single = new LiveValidation('search', {validMessage: '', wait: 500});
                single.add(Validate.Presence, {failureMessage: "Mobile number required"});
                single.add(Validate.Format, {pattern: /^(947|07|7)[0-9]{8}$/}, {failureMessage: "Invalid number"});
            </script>
            <input type="submit" value="Search" onclick="loadSubscriptions()" class="w3-button w3-blue"/>
        </div>
        <script>
            function loadSubscriptions() {
                loading.show();
                var msisdn = document.getElementById('search').value;
                if (/^[a-zA-Z]+$/.test(msisdn) || msisdn == "") {
                    loading.fadeOut(1500);
                    return;
                }
                var url = "subscriber/search?search=" + msisdn;
                $("#resultBlock").load(url);
            }
            loading.fadeOut(1500);

            $(document).ready(function () {
                $('#subsTable').DataTable({})
            });
            $(document).ready(function () {
                $('#subsReasonTable').DataTable({})
            });
        </script>
        <div th:if="${showTables}">
            <h3>Subscription Status</h3>
            <table id="subsTable" class="display cell-border" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th th:text="#{subs.management.table.heading.name}">Name</th>
                    <th th:text="#{subs.management.table.heading.subscription}">Subscription</th>
                    <th th:text="#{subs.management.table.heading.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list: ${dtoList}">
                    <td th:text="${list.applicationName}"></td>
                    <td style="color:#008000" th:if="${list.status == 'ACTIVE'}" th:text="${list.status}"></td>
                    <td style="color:#285e8e" th:if="${list.status == 'NOT SUBSCRIBED'}" th:text="${list.status}"></td>
                    <td style="color:#ff0000" th:if="${list.status == 'SYSTEM ERROR'}" th:text="${list.status}"></td>
                    <td style="color:#ee7615" th:if="${list.status == 'NOT FOUND'}" th:text="${list.status}"></td>
                    <td th:align="center">
                        <a href="#" th:text="#{label.deactivate.link}" class="table-anchor-deactivation"
                           th:onclick="'loadForm(\'subscriber/new?id=0&msisdn='+ ${list.msisdn} +'&applicationName='+${list.applicationName}+'\');'"
                           th:if="${list.status == 'ACTIVE'}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3>Customer Care Action History</h3>
            <table id="subsReasonTable" class="display cell-border" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th th:text="#{subs.management.table.heading.name}">Name</th>
                    <th th:text="#{subs.management.table.deactivation.date}">Deactivation Date</th>
                    <th th:text="#{subs.management.table.deactivation.reason}">Reason</th>
                    <th th:text="#{subs.management.table.deactivation.person}">Deactivated By</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list: ${reasonsList}">
                    <td th:text="${list.applicationName}"></td>
                    <td th:text="${list.deactivationDate}"></td>
                    <td th:text="${list.deactivationReason}"></td>
                    <td th:text="${list.deactivatedBy}"></td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>
</html>