<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_PATH" value="/hms/logs/customer-care"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY:MM:dd HH:mm:ss.SSS} [%X{}] [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/customer-care-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/customer-care-info.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{YYYY:MM:dd HH:mm:ss.SSS} [%X{}] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/customer-care-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/customer-care-error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{YYYY:MM:dd HH:mm:ss.SSS} [%X{}] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="GATE-ACCESS-TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/customer-care-trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/customer-care-trace.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{YYYY:MM:dd HH:mm:ss SSS} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ASYNC_INFO" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="INFO" />
    </appender>

    <appender name="ASYNC_ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="ERROR" />
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT" />
    </appender>

<!--    <logger name="org.springframework" level="INFO" additivity="false"/>
    <logger name="org.springframework.security" level="DEBUG" additivity="false"/>
    <logger name="org.hibernate" level="DEBUG" additivity="false"/>
    <logger name="org.thymeleaf" level="INFO" additivity="false"/>
    <logger name="net.sf.jasperreports" level="INFO" additivity="false"/>
    <logger name="org.apache.commons" level="INFO" additivity="false"/>-->

    <logger name="GATE-ACCESS-TRACE" level="INFO" additivity="false">
        <appender-ref ref="GATE-ACCESS-TRACE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC_INFO"/>
        <appender-ref ref="ASYNC_ERROR"/>
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>
</configuration>